* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

input {
    outline: none;
}

textarea {
    outline: none;
    resize: none;
}



.form__wrap {
    width: 100%;
    padding: 10px 20px;

    .input__wrap {
        border: 1px solid black;
        height: 80px;
        width: 100%;
        margin-bottom: 10px;
        position: relative;

        input {
            height: 50px;
            width: 100%;
        }

        &.--message {
            height: 150px;
            padding-bottom: 30px;
        }
        textarea {
            width: 100%;
            height: 100%;
        }


        &.--phone {
            display: flex;
            .selected-item {
                border: 1px solid black;
                height: 50px;
                width: 100px;
            }
        }
        

        .custom-list { 
            display: none;
        }

        .placeholder {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 20px;
        }

        .input__error-msg {
            position: absolute;
            bottom: 5px;
            left: 0;
            display: none;
        }
    }
}